.keyboard {
    @apply flex flex-col gap-2;
}

.keyboard-row {
    @apply flex flex-row gap-2 font-bold;
}

.keyboard-key {
    @apply flex items-center justify-center rounded-2xl p-4 w-16 aspect-square;
    background-color: #2c2c2c;
}

.key-pressed {
    filter: drop-shadow(0 0 8px rgba(227, 208, 134, 0.8));
    background-color: #4d4d4d;
}

.current-key-set {
    background-color: #3f3f3f;
}
